<section class="section">
    <div class="container">
        <hr>
        <!-- Three columns created using columns class of Bulma -->
        <div class="columns">

            <!-- Column 1 -->
            <div class="column">
                <!-- Heading is left aligned bd-footer-title has-text-weight-medium -->
                <p class="bd-footer has-text-weight-boldhas-text-left">&copy; Shane L. Hogle {% year %}.<br>Made with <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://bulma.io/">Bulma.</a><br><br></p>

                <!-- footer content -->
                <p class="bd-footer has-text-left is-size-7">&#8226; Source code is licensed <a href="https://opensource.org/license/gpl-3-0/">GPL v3</a>.<br>&#8226; Site content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.<br>&#8226; Copy and modify for your own research group.</p>
                </div>

            <!-- Column 2 -->
            <div class="column">
                <h4 class="bd-footer-title has-text-weight-bold has-text-justify">Funding and support provided by:</h4>

                <p class="bd-footer has-text-left">&#8226; <a href="https://www.aka.fi/en/">Research Council of Finland</a>
                <ul style="text-indent: 25px;">
                    <li> &#8674; <a href="https://research.fi/en/results/funding/77810">Academy Research Fellowship</a></li>
                    <li> &#8674; <a href="https://www.fimar.fi/">FiMAR Centre of Excellence</a></li>
                    <li> &#8674; Academy Project Grant</li>
                </ul>
                &#8226; <a href="https://www.sakarialhopuronsaatio.fi/en/home.html">Sakari Alhopuron säätiö</a></p>
            </div>

            <!-- Column 3 -->
            <div class="column">
                <h4 class="bd-footer-title has-text-weight-bold has-text-left">Visit us!</h4>
                <p class="bd-footer has-text-left">Natura Buillding Floor 3 @ University of Turku<br><a href="https://goo.gl/maps/Jji9UY2FRhrYiYWH8">Yliopistonmäki (Vesilinnantie 5)</a><br>20500 Turku, Finland</p>
            </div>
        
        </div>
    </div>
</section>