<section class="section">
    <div class="container is-max-widescreen">
        <hr>
        <div class="columns">
            <div class="column">
                <p class="bd-footer-title has-text-weight-bold has-text-justify">&copy; Shane L. Hogle {% year %}</p>
                {# .<br>Made with <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://bulma.io/">Bulma.</a><br><br>#}
                <ul class="bd-footer has-text-left is-size-7">
                    <li> &#8226; Source code is licensed <a href="https://opensource.org/license/gpl-3-0/">GPL v3</a></li>
                    <li> &#8226; Site content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a></li>
                    <li> &#8226; <a href="https://github.com/slhogle/hoglelab">Copy and modify for your own research group</a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="bd-footer-title has-text-weight-bold has-text-justify">Funding and support provided by:</h4>
                <p class="bd-footer has-text-left">
                    <ul>
                        <li> &#8226; <a href="https://www.aka.fi/en/">Research Council of Finland</a></li>
                        <li> &#8226; <a href="https://www.sakarialhopuronsaatio.fi/en/home.html">Sakari Alhopuron säätiö</a></li>
                </ul>
                </p>
                {# &#8226; <a href="https://www.aka.fi/en/">Research Council of Finland</a> #}
                {# <ul style="text-indent: 25px;">
                    <li> &#8674; <a href="https://research.fi/en/results/funding/77810">Academy Research Fellowship</a></li>
                    <li> &#8674; <a href="https://www.fimar.fi/">FiMAR Centre of Excellence</a></li>
                    <li> &#8674; Academy Project Grant</li>
                </ul> #}
                {# &#8226; <a href="https://www.sakarialhopuronsaatio.fi/en/home.html">Sakari Alhopuron säätiö</a>#}
            </div>
            <div class="column">
                <h4 class="bd-footer-title has-text-weight-bold has-text-justify">Visit us!</h4>
                <p class="bd-footer has-text-left">
                    <ul>
                        <li>Natura Buillding Floor 3 @ University of Turku</li>
                        <li><a href="https://goo.gl/maps/Jji9UY2FRhrYiYWH8">Yliopistonmäki (Vesilinnantie 5)</a></li>
                        <li>20500 Turku, Finland</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>