---
title: Contact
layout: layouts/base.njk
---

<section class="section">

    <div class="container">

        <div class="column">

            <p class="is-size-2 has-text-weight-bold mb-4">Contact<br></p>
            
            <div class="icon-text">
                <span class="icon is-medium"><i class="fas fa-envelopes-bulk"></i></span>
                <span><p class="is-size-6 mb-4">shane [dot] hogle [at] utu [dot] fi</p></span>
            </div>

            <div class="icon-text">
                <span class="icon"><i class="fas fa-circle-info"></i></span>
                <span><p class="is-size-6 mb-4">Department of Biology<br>20014 University of Turku<br></p></span>
            </div>

            <div class="icon-text">
                <span class="icon"><i class="fas fa-location-dot"></i></span>
                <span><p class="is-size-6 mb-4">We are located on the third floor of the Natura building at Vesilinnantie 5 (Yliopistonmäki). Natura is on the <a href="https://www.utu.fi/en/university/turku-campus">Turku campus</a></p></span>
            </div>
            
            <figure class="image is-3by1">
                <iframe class="has-ratio" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1047.7496516712774!2d22.284859000000004!3d60.454913000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468c76efb58209d3%3A0x5808c06a6a5f1d72!2sNatura!5e1!3m2!1sen!2sus!4v1692651259911!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>

        </div>
    
    </div>

</section>
