---
title: Diversity, Equity, and Inclusion
layout: layouts/base.njk
---
<section class="section">
    <div class="container is-max-widescreen">
        <div class="column">
            <p class="is-size-3 has-text-weight-bold mb-4">Diversity, Equity, and Inclusion</p>
            <p class="is-size-6">The Hogle Lab aspires to create a welcoming and supportive, accessible, and equitable environment for all of our members.</p>
            <hr>
            <div class="block">
                <p class="is-size-6"><b>We believe:</b>
                    <div class="content">
                        <ul>
                            <li>Science works in the best interests of society when people with diverse backgrounds and perspectives are included in the scientific process and their contributions are recognized</li>
                            <li>Many different barriers for historically underrepresented groups exist in higher education due to the ongoing legacy of white supremacy, sexism, ableism, and other forms of discrimination that have been propagated throughout society for generations</li>
                            <li>Everyone in the university has a moral obligation to those affected by historical and ongoing acts of discrimination</li>
                            <li>Discriminatory policies, practices, and norms must be replaced with just and equitable systems that celebrate diversity, acknowledge current and past exclusionary policies and practices, and increase opportunities for marginalized groups</li>
                        </ul>
                    </div>
                </p>
                <p class="is-size-6"><b>We are committed to:</b>
                    <div class="content">
                        <ul>
                            <li>Building an inclusive working environment</li>
                            <li>Recruiting and ensuring the sucess of diverse team members</li>
                            <li>Promoting Diversity, Equity, and Inclusion within the wider university community and society at large</li>
                            <li>Zero tolerance for discriminatory or harrassing behaviors (see our <a href="/coc">lab code of conduct</a>)</li>
                        </ul>
                    </div>
                </p>
            </div>
            <div class="columns is-centered">
              <figure class="image is-720x240 mt-4"><img src="/images/banner01_3x1.png"></figure>  
            </div>
        </div>
    </div>
</section>