---
title: Homepage
layout: layouts/base.njk
---
<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column is-two-thirds">
                <p class="is-size-3 has-text-weight-bold mb-4">Welcome to the Hogle Lab!</p>
                <figure class="image is-3by1"><img src="/images/banner01_3x1.png"></figure>
                <p class="is-size-6 mb-4 mt-4">We are a research group in the <a href="https://www.utu.fi/en/university/faculty-of-science/biology">Biology Department</a> 
                at the <a href="https://www.utu.fi/en">University of Turku, Finland.</a></p>
                <p class="is-size-6 mb-4">We seek to understand how microorganisms interact and how those interaction networks change through time. We are particularly interested in how microbial community dynamics and concurrent evolutionary processes scale to influence community function and, more broadly, fluxes of matter and energy through whole ecosystems. Our work spans a diversity of scales ranging from the cellular to the global, and we employ a plurality of methodologies, including those from classic microbiology, molecular biology, cell physiology, bioinformatics, data science, and modeling. Our collaborative group works with mathematical ecologists, biogeochemical modelers, chemists, and environmental scientists.</p>
                <p class="is-size-6">We welcome inquiries from prospective students and collaborators! Please read more about our research, my mentoring philosophy, the lab values, and our code of conduct. If our team seems like a good fit for you, please reach out to Shane to start a conversation.</p>
               <figure class="image is-3by1"><img src="/images/banner02_3x1.png"></figure>           
            </div>
            <div class="column">{% include "news_highlights.njk" %}</div>
        </div>   
    </div>
</section>