---
title: Join the lab
layout: layouts/base.njk
---
<section class="section">
    <div class="container is-max-widescreen">
        <div class="column">
            <p class="is-size-3 has-text-weight-bold mb-4">Join the team!<br></p>
            
            <p class="is-size-6 has-text-danger mb-4"><b>Currently, the lab does not have funding to directly support Ph.D. or postdoctoral researchers</b>, but I am happy to work with you to write independent funding proposals.</p>
           
            <p class="is-size-6 mb-4">We welcome inquiries from prospective students and collaborators! Please read more about our <a href="/research">research</a>, <a href="/philosophy">my  mentoring philosophy and lab values,</a> and <a href="/coc">our lab code of conduct.</a> If our team seems like a good fit for you, <a href="mailto:shane.hogle@utu.fi">contact Shane</a> to start a conversation.</a></p>

            <p class="is-size-6 mb-4">For those new to this, a helpful guide for contacting prospective academic supervisors <a href="https://www.nature.com/articles/d41586-023-00786-8"> is available here.</a> Briefly, I recommend all prospective team members contact me with:
            <div class="content">
                <ul>
                    <li>A paragraph describing your background and career goals</li>
                    <li>A paragraph about which aspects of the lab interest you</li>
                    <li>A paragraph proposing a project or topic you'd like to work on. This will help me understand your interests and how you think and write. It is not a commitment to any particular topic.</li>
                    <li>A current CV</li>
                    <li>Unofficial transcripts for prospective <em>Masters and Ph.D. researchers</em></li>
                    <li>Contact information for 2-3 references for <em>postdoctoral researchers</em></li>
                </ul>
            </div>
            </p>
            <hr>
            <div class="block">
                <p class="is-size-6"><b>Prospective Ph.D. researchers:</b> Ph.D. researchers in the Hogle Lab are admitted through the <a href="https://www.utu.fi/en/research/utugs/doctoral-programme-in-biology-geography-and-geology">UTU Doctoral Programme in Biology, Geography and Geology (BGG).</a> Before applying to the program, you need to identify a suitable supervisor (i.e., me) and secure their backing. There are openings for fully funded, 4-year UTU Graduate School doctoral researcher positions every autumn, and I am happy to support competitive applicants in writing a research proposal.</p>
                <p class="is-size-6 mt-4">Ph.D. researchers in the Hogle Lab have the freedom to pursue their own interests. Your Ph.D. thesis topic should ideally align with topics on our <a href="/research">research page</a>, but I encourage you to explore other interests and passions. We are experimentalists at heart, and we are also a very quantitative lab. Knowledge of one or more programming languages (e.g., R or Python) and experience with statistics, data analysis, and applied bioinformatics (especially genomics and metagenomics) is a strong benefit but not an absolute requirement. <em>Most importantly you are independent, creative, a have a strong motivation to learn.</em></p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Prospective Masters students:</b> UTU Biology students can fulfill the requirements of the Master's degree by completing their thesis in the Hogle Lab. I usually take one or two Master's students per year.</p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Prospective postdoctoral researchers:</b> We are always looking to host postdocs funded by independent fellowships. Potential fellowship opportunities include:
                <div class="content">
                    <ul>
                        <li><a href="https://marie-sklodowska-curie-actions.ec.europa.eu/actions/postdoctoral-fellowships"><b>Marie Skłodowska-Curie Actions (MSCA) Postdoctoral Fellowships:</b></a> Interested researchers apply together with a host organization. The deadline for this is usually in April. Make sure to get in touch well in advance if you want to develop a collaborative proposal together.</li>
                        <li><a href="https://novonordiskfonden.dk/en/grant/"><b>Novo Nordisk Foundation postdoctoral fellowships:</b></a> Postdoctoral fellowships usually open every year at the end of June. The proposal must be relevant to one of Novo Nordisk's target profiling areas. Appropriate profiling areas for our group include "Plant Science, Agriculture and Food Biotechnology" and "Industrial Biotechnology and Environmental Biotechnology."</li>
                        <li><a href="https://www.hfsp.org/funding/hfsp-funding/postdoctoral-fellowships"><b>Human Frontier Science Program (HFSP) postdoctoral fellowship:</b></a> This opportunity is open to life-science researchers with a cutting-edge and transformative idea.</li>
                        <li><a href="https://research.fi/en/results/funding-calls?page=1"><b>Other funding opportunities in Finland:</b></a> Check <a href="https://research.fi/en/">www.research.fi</a> often for different funding opportunities from private foundations in Finland.</li> 
                        
                    </ul>
                </div>
                </p>
            </div>
            <div class="columns is-centered">
              <figure class="image is-720x240 "><img src="/images/banner02_3x1.png"></figure>  
            </div>
        </div>
    </div>
</section>