---
title: Join the lab
layout: layouts/base.njk
---
<section class="section">
    <div class="container is-max-widescreen">
        <div class="column">
            <p class="is-size-3 has-text-weight-bold mb-4">Join the team!<br></p>
            <p class="is-size-4 has-text-weight-bold mb-4">Work in progress - stay tuned...<br></p>
        </div>
    </div>
</section>