---
title: Lab philosophy, policies, and expectations
layout: layouts/base.njk
---
<section class="section">
    <div class="container is-max-widescreen">
        <div class="column">
            <p class="is-size-3 has-text-weight-bold mb-4">Lab philosophy, policies, and expectations<br></p>
            <p class="is-size-6">I do my best to facilitate intellectual development and personal growth and guide members toward their career goals. Below, I outline some of my mentoring philosophy. I have found that the mentoring process works most smoothly when <em>we all agree to a shared set of expectations and policies</em> (see below).</p>
            <hr>
            <p class="is-size-4 has-text-weight-bold mb-4">General lab policies</p>
            <div class="block">
                <p class="is-size-6">Lab policies are available for download as a PDF (<span class="icon-text"><a style="display:inline-block;" target="_blank" href="/pdfs/lab_policies.pdf">Hogle Lab Policies</a><span class="icon"><i class="fas fa-file-pdf"></i></span></span>), </p>
            </div>
            <hr>
            <p class="is-size-4 has-text-weight-bold mb-4">Shane's mentoring philosophy</p>
            <div class="block">
                <p class="is-size-6">As a team leader, my goals are to help you gain confidence in your ideas, intuition, and skills, to motivate you to trust in your abilities under new and unfamiliar situations and to inspire you to approach challenges as learning opportunities with openness and curiosity. My guiding values are honesty, compassion, and flexibility. I engage with trainees truthfully and openly, always trying to be explicit in my expectations, thoughts, and motivations. I value the unique experience that everyone brings to the team. I acknowledge that everyone has a complex life outside of work, and I strive to create an atmosphere where team members can allow personal and professional aspects of their lives to coexist most comfortably.</p>
                <p class="is-size-6 mt-4">My approach to mentoring is to 1) learn about your motivations (e.g. career goals and scientific interests), 2) identify a set of shared interests, 3) plan a research project based on those shared interests and set milestones for the project, 4) meet regularly to assess your progress. I aim to help you organize your ideas into a meaningful research experience that leads to publications, a thesis, or a desired career, depending on the your plans. I acknowledge that plans often change and that flexibility is critical for managing setbacks and reorienting projects/teaching toward realistic goals. Most importantly, I view my relationships with you as reciprocal and mutually beneficial. I hope I will learn as much from you as you learn from me!</p>
            </div>
            <div class="block">
                <p class="is-size-6"> <b>Independence:</b> I expect group members to learn to be independent and conduct rigorous and reproducible research that aligns with the overall research themes of the lab. I don't expect this to happen overnight. As you progress in your work, I hope you will require less and less of my input and eventually move toward complete independence. Thus, I expect all doctoral researchers and postdocs to be the driving force behind at least one lab project, from conceptualization and planning to execution to final publication. Group members are encouraged to apply for independent funding at least once.</p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Feedback:</b> I commit to providing constructive and timely feedback on your proposals, papers, and other materials. I will try my best to do this within two weeks. I also welcome your feedback! Please tell me if some aspects of my mentorship could be improved.</p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Resources:</b> I will do my best to provide the resources needed to do your work and develop your career. Examples include reagents, equipment, software, workshops, summer schools, and training events. However, the lab has a limited budget, and there will be times when I cannot afford a particular request. If I cannot offer these resources myself, I will work to connect you with someone who can.</p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Outreach and visibility:</b> It is important that the lab makes our work visible to scientists within our research field and to the general public. I will do my best to introduce you to my scientific networks, and I expect trainees to attend at least one international research conference to present their research findings. At some point, I will likely show some of your results at scientific meetings, but I will always ask permission first and give you credit in my presentation. I also expect trainees to engage and assist with lab outreach efforts to connect with the general public, especially people from historically marginalized and disadvantaged groups.</p>
            </div>
            <div class="block">
                <p class="is-size-6"><b>Career: </b> Trainees in my group gain valuable skills applicable to both industry and academia. I will do my best to support trainees with career goals in traditional academic and non-academic paths. It's important for you to develop a career plan quickly so that we can work out the best mentoring strategy together. For example, if your goal is to become a data scientist in industry, then we need to work on developing computational projects and make a plan for you to acquire the necessary skills. If you want to become a research professor, then it becomes important for you to develop your own "big ideas" to establish a niche in your chosen field. If you want to be a teaching professor or a lecturer, you'll need plenty of teaching experience. The reality is that you won't have time to develop equally in all these areas, so you'll need to pick and choose based on your career goal.</p>
            </div>
            </div>
        </div>
    </div>
</section>