---
title: "Publications"
description: "Complete list of peer-reviewed publications and preprints from the Hogle Lab."
badges: true
---
{% import "macros/publication.njk" as pubs %}
{% set submitted = bib | selectattr("submitted") %}
{% set published = bib | rejectattr("submitted") %}
<section class="section">
    <div class="container is-max-widescreen">
        <div class="column">
            <p class="is-size-3 has-text-weight-bold mb-6">Publications</p>

            <p class="is-size-6 mb-4">See also <a target="_blank" rel="noopener" href="{{ site.googlescholar }}"><i class="ai ai-google-scholar"></i> Google Scholar</a>, <a target="_blank" rel="noopener" href="https://orcid.org/{{ site.orcid }}"> <i class="ai ai-orcid"></i> ORCID</a>, and <a target="_blank" rel="noopener" href="{{ site.researchgate }}"><i class="ai ai-researchgate"></i> ResearchGate.</a></p>

            <p class="is-size-6">&#9671; indicates corresponding author(s), &#8225; indicates equal contributions, <u>Underline</u> indicates supervised Ph.D./M.Sc. students and SLH</p>

            {# PREPRINTS AND SUBMITTED PUBLICATIONS #}
            {% for pub in submitted %}
                {{ pubs.entry(pub, submitted | length - loop.index0, "submitted") }}
            {% endfor %}

            <hr>

            {# PUBLISHED AND IN PRESS PUBLICATIONS #}
            <div class="block">
                <p class="is-size-4 has-text-weight-bold mb-4" id="allpubs">Published</p>
            </div>
            {% for pub in published %}
                {{ pubs.entry(pub, published | length - loop.index0, "published") }}
            {% endfor %}
        </div>
    </div>
</section>
