---
title: Research
layout: layouts/base.njk
---

<section class="section">

    <div class="container">

        <div class="column">

            <p class="is-size-2 has-text-weight-bold mb-4">Research<br></p>

            <p class="is-size-5 mb-4"> Projects and topics we are currently working on</p>
            <hr>
            <div class="columns is-vcentered">

                <div class="column is-narrow">

                    <figure class="image is-480x480">

                        <img src="/images/bg_cycle.png">
                    </figure>

                </div>
                <div class="column ">
                    <p class="is-size-6">  We seek to understand how microorganisms (we have worked with bacteria, ciliates, nematodes, and phytoplankton) 
               interact and how those interaction networks change through time. We are particularly interested in how microbial ecological and evolutionary
                dynamics scale to influence community function and, more broadly, fluxes of matter and energy through whole ecosystems. Our work spans a diversity
                 of scales ranging from the cellular to the global, and we employ a plurality of methodologies, including those from classic microbiology, molecular 
                 biology, cell physiology, bioinformatics, data science, and modeling. Our collaborative group works with mathematical ecologists, biogeochemical modelers,
                  chemists, and environmental scientists. </p>
                </div>

            </div>

            <hr>

            <div class="columns is-vcentered">

                <div class="column ">
                    <p class="is-size-6">  We seek to understand how microorganisms (we have worked with bacteria, ciliates, nematodes, and phytoplankton) 
               interact and how those interaction networks change through time. We are particularly interested in how microbial ecological and evolutionary
                dynamics scale to influence community function and, more broadly, fluxes of matter and energy through whole ecosystems. Our work spans a diversity
                 of scales ranging from the cellular to the global, and we employ a plurality of methodologies, including those from classic microbiology, molecular 
                 biology, cell physiology, bioinformatics, data science, and modeling. Our collaborative group works with mathematical ecologists, biogeochemical modelers,
                  chemists, and environmental scientists. </p>
                </div>

                <div class="column is-narrow">

                    <figure class="image is-256x256">

                        <img src="/images/bg_cycle.png">
                    </figure>

                </div>
            </div>

        </div>
    </div>
</section>