---
title: Team members
layout: layouts/base.njk
---
<section class="section">
    <div class="container  is-max-widescreen">
        <div class="column">
            <p class="is-size-2 has-text-weight-bold mb-4">Team members<br></p>
            <p class="is-size-5 mb-6">Our team is comprised of Postdocs, Ph.D., Masters, and advanced Bachelor students.
                <a href="/join">Interested in joining?</a>
            </p>
            <nav class="tabs is-medium is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="tab is-active" onclick="openTab(event, 'pi')"><a>Principal Investigator</a></li>
                        <li class="tab" onclick="openTab(event, 'phd')"><a>Ph.D. Students</a></li>
                        <li class="tab" onclick="openTab(event, 'msc')"><a>Masters Students</a></li>
                        <li class="tab" onclick="openTab(event, 'bsc')"><a>Bachelors Students</a></li>
                        <li class="tab" onclick="openTab(event, 'collab')"><a>Collaborators</a></li>
                    </ul>
                </div>
            </nav>
            <div id="pi" class="content-tab">
                <div class="columns is-vcentered">
                    <div class="column is-narrow">
                        <figure class="image is-256x256">
                            <img class="is-rounded" src="/images/team/shane_256x256.png">
                        </figure>
                    </div>
                    <div class="column ">
                        <p class="is-size-5 has-text-weight-bold mb-4">Shane Hogle, Ph.D.</p>
                        <p class="is-size-6">
                            I am an Academy Research Fellow at the University of Turku, funded by the Research Council of Finland. I am also an affiliated researcher with the FIMAR Centre of Excellence. Previously I was a postdoctoral researcher with Teppo Hiltunen at the University of Turku and before that a postdoctoral researcher with Penny Chisholm at the Massachusetts Institute of Technology (MIT) in the USA. I received my Ph.D. in Oceanography with a focus on marine chemistry and microbial oceanography from the Scripps Institution of Oceanography at the University of California, San Diego (USA), where I was an NSF Graduate Research Fellow. I completed my undergraduate bachelor's degree in Chemistry at Earlham  College (USA). I am originally from the United States but live in Turku, Finland, with my family.
                        </p>
                    </div>
                </div>
            </div>
            <div id="phd" class="content-tab" style="display:none">
                <div class="columns is-vcentered">
                    <div class="column is-narrow">
                        <figure class="image is-256x256">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column ">
                        <p class="is-size-5 has-text-weight-bold mb-4">Milla Similä</p>
                        <p class="is-size-6">Stay tuned...</p>
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-narrow">
                        <figure class="image is-256x256">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column ">
                        <p class="is-size-5 has-text-weight-bold mb-4">Amanda Silvennoinen</p>
                        <p class="is-size-6">
                            Microbial communities are essential for human and environmental health. I am especially interested in the human gut microbiome , how microbial communities are affected by disturbance (e.g., antibiotics), and their ability to recover. In my Ph.D. I focus on how species interactions, predation, and antibiotics shape community composition. As a model system, I use synthetic microbial communities consisting of different bacterial species and predatory ciliate <em>Tetrahymena thermophila</em>. I am currently working on determining how evolutionary history and environment affect resilience, community composition, and evolution of antibiotic resistance by doing simple microcosm experiments.
                        </p>
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-narrow">
                        <figure class="image is-256x256">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column ">
                        <p class="is-size-5 has-text-weight-bold mb-4">Iina Nieminen</p>
                        <p class="is-size-6">
                            I am studying how ecological interactions (species interactions and environmental variation)in the outside-host
                            environment affect host-pathogen interactions. Microbial ecology, different microbial communities, and environmental issues interest me. My Ph.D. focuses on eco-evolutionary dynamics and the role of opportunistic pathogens in microbial communities. I use the nematode <em>Caenorhabditis elegans</em> (host/predator) and bacteria as a model system.
                        </p>
                    </div>
                </div>
            </div>
            <div id="msc" class="content-tab" style="display:none">
                <p class="is-size-5 has-text-weight-bold mb-4">Current Students</p>
                <div class="content">
                    <ul>
                        <li><a href="/join">You?</a></li>
                    </ul>
                </div>
                <hr>
                <p class="is-size-5 has-text-weight-bold mb-4">Former Students</p>
                <div class="content">
                    <ul>
                        <li><em>May 2022 - Nov 2023:</em> Milla Similä, University of Turku (SLH main supervisor)</li>
                        <li><em>Jan 2022 - Jun 2023:</em> Inga-Katariina Aapalampi, University of Turku (SLH main supervisor)</li>
                        <li><em>Nov 2021 - May 2023:</em> Olli Pitkänen, University of Turku (SLH main supervisor)</li>
                        <li><em>Mar 2021 - Jun 2022:</em> Elizaveta Zakharova, University of Turku (SLH co-supervisor)</li>
                        <li><em>Sep 2021 - Jun 2022:</em> Enni Liinoja, University of Turku (SLH co-supervisor)</li>
                    </ul>
                </div>
            </div>
            <div id="bsc" class="content-tab" style="display:none">
                <p class="is-size-5 has-text-weight-bold mb-4">Current Students</p>
                <div class="content">
                    <ul>
                        <li><a href="/join">You?</a></li>
                    </ul>
                </div>
                <hr>
                <p class="is-size-5 has-text-weight-bold mb-4">Former Students</p>
                <div class="content">
                    <ul>
                        <li><em>Nov 2020 - Sep 2021:</em> Helene Helo, University of Turku (SLH co-supervisor)</li>
                        <li><em>Nov 2020 - Sep 2021:</em> Inga-Katariina Lampinen, University of Turku (SLH co-supervisor)</li>
                    </ul>
                </div>
            </div>
            <div id="collab" class="content-tab" style="display:none">
                <p>We collaborate with many different groups within Finland and abroad. We have ongoing projects with...
                </p>
            </div>
        </div>
    </div>
</section>
